/* color scheme */
@define-color bg-color rgba(233, 170, 210, 1);
@define-color bar-color rgba(59, 64, 99, 0.3);
@define-color border-color rgba(255, 255, 255, 1);
@define-color workspace-buttons rgba(252, 136, 199, 1);

@define-color text-color rgb(255, 255, 255);
@define-color shadow-color rgb(222, 125, 186);

@define-color audioslider-bg rgb(255, 255, 255);

/* abstraction */
* {
    font-family: "FantasqueSansM Nerd Font";
    font-size: 18px;
    font-style: normal;
    min-height: 0;
    padding: 0;
    margin: 0;
}

#clock, #memory, #cpu,
#tray, #network, #pulseaudio {
    margin: 2px 2px 0 2px;
    padding: 0px 5px 0px 5px;
    
}

#window, #info {
    margin: 5px 0px 10px 0;

    border-radius: 10px;

    background-color: @bg-color;
}

#window, #info, #workspaces,
#custom-os, #hardware {
    box-shadow: 1px 2px 0 @shadow-color;
}

/* tray isn't set because it's buggy when hovering */
#clock:hover, #memory:hover, #cpu:hover,
#network:hover, #pulseaudio:hover {
    transition: 300ms linear;
    border-bottom: 1.5px solid white;
}

/* base/external */
.main-bar {
    color: @text-color;
    background: none;
}

tooltip {
    background-color: @bg-color;
    
    border: 2px solid @border-color;
    border-radius: 10px;
}

tooltip label {
    color: @text-color;
    text-shadow: none;
}

/* center modules */
#window {
    padding: 0 5px 0px 5px;
}

/* https://github.com/Alexays/Waybar/issues/1448 */
#waybar.empty #window{
    background: none;
    box-shadow: none;
    border: none;
    text-shadow: none;
}

/* left side Modules */
#workspaces {
    margin: 5px 10px 10px 0;
    padding: 0 5px 0 5px;

    background-color: @bg-color;

    border-radius: 10px;
}

#workspaces button {
    margin: 0px 2px 0px 2px;
    padding: 3px 12px 3px 5px;
    color: white;

    background-color: @workspace-buttons;

    border: 1px white solid;
    border-radius: 10px;
}

#custom-os {
    margin: 0 0 2px 0;
    padding: 0 18px 0 14px;
    font-size: 25px;

    background-color: @bg-color;

    border-radius: 0 0 10px 0;
}

/* right side modules */
#hardware {
    margin: 0 0 2px 0;
    padding: 0 15px 0 7px;

    background-color: @bg-color;

    border-radius: 0 0 0 10px;
}

#info {
    padding: 0 5px 0 5px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}

#pulseaudio-slider slider {
    min-height: 0;
    min-width: 0;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background: none;
    background-color: @audioslider-bg;
}

#pulseaudio-slider highlight {
    min-height: 1px;
    min-width: 6px;
    border-radius: 5px;
    background-color: @bg-color;
    border: @shadow-color 2px solid;
}

/* left and right inverted corners */
#custom-inv-border1, #custom-inv-border2 {
    margin: 0;
    padding: 0;
    box-shadow: 0px -25px 0 0 @bg-color;
    background-color: transparent;
}

#custom-inv-border1 {
    border-top-right-radius: 25px;
}

#custom-inv-border2 {
    border-top-left-radius: 25px;
}

/* overlay bar */
.overlay-bar {
    background: @bg-color;
    color: @text-color;
}

/* animations */
@keyframes shine {
    0% {
    }
}

@keyframes border-animation {
    0% {
        background-color: white;
    }
}

/* setting Animations */
#hardware:hover {
    animation: shine 500ms forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
